.title {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0051e6, 0 0 40px #0049e6,
      0 0 50px #00e649, 0 0 60px #00e649, 0 0 70px #00e649;
  }
  